.TodoSearch {
  background: #f9fbfc;
  border-radius: 15px;
  height: 64px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  color: #1e1e1f;
  width: 100%;
  border: 2px solid #B541F4;
}
.TodoSearch::placeholder {
  color: #a5a5a5;
  font-family: montserrat;
  font-weight: 400;
}
.TodoSearch:focus {
  outline-color: #61dafa;
}

@media (max-width: 1250px) {
  .TodoSearch {
    transform: scale(0.8);
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 750px) {
  .TodoSearch {
    transform: scale(0.7);
    margin: 0;
    padding: 0;
  }
}